@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    @font-face {
        font-family: Proxima Nova;
        font-weight: 400;
        src: url(/fonts/proxima-nova/400-regular.woff) format("woff");
    }
} */

:root {
    --animation-speed: 1500ms;
    --animation-speed-fast: 150ms;
    --green: #538d4e;
    --darkendYellow: #b59f3b;
    --red: theme('colors.red.500');
    --grey: theme('colors.neutral.700');
    --black-key: theme('colors.neutral.500');
    --grey4: theme('colors.gray.400');
    --grey: theme('colors.neutral.700');
    --default-cell-bg-color: theme('colors.stone.900');
    --default-cell-border-color: theme('colors.neutral.500');
    --default-cell-text-color: theme('colors.stone.900');
    --absent-cell-bg-color: theme('colors.neutral.700');
    --correct-cell-bg-color: --green;
    --present-cell-bg-color: --yellow;
}

:root {}

@keyframes revealAbsentCharCell {
    0% {
        transform: rotateX(0deg);
        background-color: var(--default-cell-bg-color);
        border-color: var(--default-cell-border-color);
        color: var(--default-cell-text-color);
    }
    50% {
        background-color: var(--default-cell-bg-color);
        border-color: var(--default-cell-border-color);
        color: var(--default-cell-text-color);
    }
    50.1% {
        background-color: var(--absent-cell-bg-color);
        border-color: var(--absent-cell-bg-color);
    }
    100% {
        transform: rotateX(180deg);
    }
}

@keyframes revealCorrectCharCell {
    0% {
        transform: rotateX(0deg);
        background-color: var(--default-cell-bg-color);
        border-color: var(--default-cell-border-color);
        color: var(--default-cell-text-color);
    }
    50% {
        background-color: var(--default-cell-bg-color);
        border-color: var(--default-cell-border-color);
        color: var(--default-cell-text-color);
    }
    50.1% {
        background-color: var(--correct-cell-bg-color);
        border-color: var(--correct-cell-bg-color);
    }
    100% {
        transform: rotateX(180deg);
    }
}

@keyframes revealPresentCharCell {
    0% {
        transform: rotateX(0deg);
        background-color: var(--default-cell-bg-color);
        border-color: var(--default-cell-border-color);
        color: var(--default-cell-text-color);
    }
    50% {
        background-color: var(--default-cell-bg-color);
        border-color: var(--default-cell-border-color);
        color: var(--default-cell-text-color);
    }
    50.1% {
        background-color: var(--present-cell-bg-color);
        border-color: var(--present-cell-bg-color);
    }
    100% {
        transform: rotateX(180deg);
    }
}

.cell-green {
    background-color: var(--green);
    border-color: var(--green);
}

.cell-red {
    background-color: var(--red);
    border-color: var(--red);
}

.cell-grey {
    background-color: var(--grey);
    border-color: var(--grey);
}

.cell-black {
    background-color: var(--default-cell-bg-color);
    border-color: var(--default-cell-border-color);
}

.tile {
    justify-content: center;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    font-size: 2.25rem;
    color: rgb(255 255 255);
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-top: 0.75px;
    margin-bottom: 0.75px;
    width: 61px;
    height: 61px;
}

.aurelia-header {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0.01em;
    /* text-align: center; */
    justify-content: center;
    margin-left: 40px;
    right: 0;
    pointer-events: none;
    position: relative;
    color: rgb(255 255 255);
}

.little-tile {
    width: 23px;
    height: 31px;
    display: flex;
    border-style: solid;
    border-color: transparent;
    border-width: 0px;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1;
    color: rgb(255 255 255);
}

.key-size {
    width: 32px;
    height: 58px;
}

.key-other-size {
    width: 52px;
    height: 58px;
}

.keyboard {
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    color: rgb(255 255 255);
    margin-left: 2.5px;
    margin-right: 2.5px;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-duration: 2000ms;
}

.cell-yellow {
    background-color: var(--darkendYellow);
    border-color: var(--darkendYellow);
}

.cell-fill-animation {
    animation: onTypeCell linear;
    animation-duration: 0.55s;
}

.cell-reveal {
    animation-duration: 0.55s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
}

.cell-reveal.absent {
    animation-name: revealAbsentCharCell;
}

.cell-reveal.correct {
    animation-name: revealCorrectCharCell;
}

.cell-reveal.present {
    animation-name: revealPresentCharCell;
}

svg.cursor-pointer {
    transition: all var(--animation-speed-fast);
}

svg.cursor-pointer:hover {
    transform: scale(1.2);
}

.jiggle {
    animation: jiggle linear;
    animation-duration: var(--animation-speed-fast);
}

.slide-down {
    animation: slideDown linear;
    animation-duration: var(--animation-speed-fast);
}

.navbar {
    margin-bottom: 2%;
}

.navbar-content {
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
}

.right-icons {
    display: flex;
}


/* Additional animation on the child div to avoid letters turning upside down/snapping back to upright visual glitch */

@keyframes offsetLetterFlip {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(180deg);
    }
}

.cell-reveal>.letter-container {
    animation: offsetLetterFlip 0.55s linear;
    animation-fill-mode: backwards;
}

.cell-slow-1 {
    transition-delay: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.cell-slow-2 {
    transition-delay: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.cell-slow-3 {
    transition-delay: 600ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.cell-slow-4 {
    transition-delay: 800ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.cell-slow-5 {
    transition-delay: 1000ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

@keyframes onTypeCell {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes jiggle {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-0.5rem, 0);
    }
    50% {
        transform: translate(0.5rem, 0);
    }
    75% {
        transform: translate(-0.5rem, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}


/*  */


/*  */

@keyframes slideDown {
    0% {
        transform: translateY(0%)
    }
    90% {
        transform: translateY(0%)
    }
    100% {
        transform: translateY(100%)
    }
}

@keyframes flyIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes flyOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    15% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(0%)
    }
    90% {
        transform: translateY(0%)
    }
    100% {
        transform: translateY(100%)
    }
}

@keyframes flyIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes flyOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    15% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}